@{
  Layout = "_Layout";
}
  <div class="container">

    <form class="form-group" id="formId" action="/" method="post">
      <div class="form-group">
        <select class="searchOption" name="searchOption">
          <option value="all">All</option>
          <option value="name">Name</option>
          <option value="continent">Continent</option>
          <option value="pop">Population</option>
        </select>
      </div>

      <div class="row">
        <div class="col-md-4"></div>
        <div id="inputs" class="form-group col-md-4">

        </div>
        <div class="col-md-4"></div>
      </div>



      <div class="row form-group">
        <button type="submit" class="btn btn-info">Submit</button>
      </div>



    </form>
  </div>

<h2>Index Stuff Goes Here</h2>
<div>
  @foreach(var country in @Model)
  {
    <div>
      <h4>@country.countryName</h4>
      <h6>Continent: @country.countryContinent</h6>
      <h6>Capital: @country.countryCapital</h6>
      <h6>Population: @country.countryPop</h6>
    </div>
  }
</div>
