@{
  Layout = "_Layout";
}

  <div class="container">
    <form action="/country" method="post">
      <label for="country"></label>
      <input name="country" placeholder="Enter country to search cities:" type="text">
      <button type="submit" class="button">Submit</button>
    </form>
  </div>
  <div class="container">
    <form action="/pop" method="post">
      <label for="minPop"></label>
      <input name="minPop" placeholder="Search by population (lowest):" type="number">
      <label for="maxPop"></label>
      <input name="maxPop" placeholder="Search by population (highest):" type="number">
      <button type="submit" class="button">Submit</button>
    </form>
  </div>

<h2>Index Stuff Goes Here</h2>
<ul>
  @foreach(var city in @Model)
  {
    <li>
      <h5>@city.cityName</h5>
      <h6>State: @city.cityDistrict</h6>
      <h6>Country: @city.cityCountryCode</h6>
      <h6>Population: @city.cityPopulation</h6>
    </li>
  }
</ul>
